<div id="show-question-<%= @question.id %>-container">
  <h3 class='question-title'><%= html_escaper(@question.title) %></h3>
  <p class='question-body' ='question-body'><%= html_escaper(@question.body) %></p>
  <p class='question-footer'>by <%= html_escaper(@question.author.username) %> [<%= html_escaper(@question.created_at) %>]</p>
</div>


<% Answer.where(question_id: @question.id).each do |answer| %>
  <%= erb :'answers/_answer', :layout => false, :locals => { :answer => answer } %>
<% end %>
