<div id=answer-<%= question.id %>-container>
  <%= erb :'_vote', :locals => { :voteable => answer } %>
  <h3><a href="/questions/<%= answer.question.id %>/answers/<%= answer.id %>"><%= html_escaper(answer.title) %></a></h3>
  <p>by <%= html_escaper(answer.author.username) %></p>
</div>
