<div id=answer-<%= question.id %>-container>
  <%= erb :'_vote', :locals => { :voteable => answer } %>
  <h3><a href="/questions/<%= question.id %>"><%= html_escaper(question.title) %></a></h3>
  <p>by <%= html_escaper(question.author.username) %></p>
</div>
